div.item {
    width:100%; 
    border-bottom:1px solid #aaa; 
    padding: 10px 12px;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
div.title {
    display: flex;  
    align-items: center; 
    justify-content: space-between;
    cursor:pointer;
    font-weight: bolder;
    font-size: 25px;
}

div.question, div.question_icon {
    color: white ;
}
div.question:hover, div.question_icon:hover {
    color: #aaa !important;
}
p.answer {
    color:#ccc !important; 
    font-size:20px;
    text-align:left;
    padding:0px 0px;
    overflow: hidden;
    margin: 0px;
    font-weight: bolder;
    
    transition: max-height 0.23s ease-out;
}
